* {
  box-sizing: border-box;
}

body {
  background: #16161d;
  margin: 0;
  overflow: hidden;
}

#parallax-container {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#parallax-container img {
  -webkit-transform-origin: center;
          transform-origin: center;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.4);
  position: relative;
}