@font-face {
  font-family: 'pfj-UOMO';
  src:  url('fonts/pfj-UOMO.eot?bc94zf');
  src:  url('fonts/pfj-UOMO.eot?bc94zf#iefix') format('embedded-opentype'),
    url('fonts/pfj-UOMO.ttf?bc94zf') format('truetype'),
    url('fonts/pfj-UOMO.woff?bc94zf') format('woff'),
    url('fonts/pfj-UOMO.svg?bc94zf#pfj-UOMO') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pfj-"], [class*=" pfj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pfj-UOMO' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pfj-owldeff .path1:before {
  content: "\e926";
  color: rgb(235, 224, 173);
}
.pfj-owldeff .path2:before {
  content: "\e927";
  margin-left: -0.6611328125em;
  color: rgb(171, 166, 143);
}
.pfj-owldeff .path3:before {
  content: "\e928";
  margin-left: -0.6611328125em;
  color: rgb(141, 137, 118);
}
.pfj-owldeff .path4:before {
  content: "\e929";
  margin-left: -0.6611328125em;
  color: rgb(105, 100, 83);
}
.pfj-owldeff .path5:before {
  content: "\e92a";
  margin-left: -0.6611328125em;
  color: rgb(77, 72, 53);
}
.pfj-owldeff .path6:before {
  content: "\e92b";
  margin-left: -0.6611328125em;
  color: rgb(38, 32, 10);
}
.pfj-routine24 .path1:before {
  content: "\e90e";
  color: rgb(254, 173, 200);
}
.pfj-routine24 .path2:before {
  content: "\e90f";
  margin-left: -0.87109375em;
  color: rgb(162, 162, 162);
}
.pfj-routine24 .path3:before {
  content: "\e910";
  margin-left: -0.87109375em;
  color: rgb(254, 126, 38);
}
.pfj-routine24 .path4:before {
  content: "\e911";
  margin-left: -0.87109375em;
  color: rgb(236, 27, 35);
}
.pfj-routine24 .path5:before {
  content: "\e912";
  margin-left: -0.87109375em;
  color: rgb(95, 95, 95);
}
.pfj-routine24 .path6:before {
  content: "\e913";
  margin-left: -0.87109375em;
  color: rgb(0, 0, 0);
}
.pfj-headsvg .path1:before {
  content: "\e914";
  color: rgb(162, 232, 242);
}
.pfj-headsvg .path2:before {
  content: "\e915";
  margin-left: -0.791015625em;
  color: rgb(211, 209, 207);
}
.pfj-headsvg .path3:before {
  content: "\e916";
  margin-left: -0.791015625em;
  color: rgb(206, 205, 166);
}
.pfj-headsvg .path4:before {
  content: "\e917";
  margin-left: -0.791015625em;
  color: rgb(245, 146, 178);
}
.pfj-headsvg .path5:before {
  content: "\e918";
  margin-left: -0.791015625em;
  color: rgb(159, 209, 172);
}
.pfj-headsvg .path6:before {
  content: "\e919";
  margin-left: -0.791015625em;
  color: rgb(227, 205, 91);
}
.pfj-headsvg .path7:before {
  content: "\e91a";
  margin-left: -0.791015625em;
  color: rgb(164, 165, 156);
}
.pfj-headsvg .path8:before {
  content: "\e91b";
  margin-left: -0.791015625em;
  color: rgb(230, 133, 120);
}
.pfj-headsvg .path9:before {
  content: "\e91c";
  margin-left: -0.791015625em;
  color: rgb(244, 199, 39);
}
.pfj-headsvg .path10:before {
  content: "\e91d";
  margin-left: -0.791015625em;
  color: rgb(209, 124, 146);
}
.pfj-headsvg .path11:before {
  content: "\e91e";
  margin-left: -0.791015625em;
  color: rgb(248, 146, 74);
}
.pfj-headsvg .path12:before {
  content: "\e91f";
  margin-left: -0.791015625em;
  color: rgb(174, 202, 75);
}
.pfj-headsvg .path13:before {
  content: "\e920";
  margin-left: -0.791015625em;
  color: rgb(177, 205, 58);
}
.pfj-headsvg .path14:before {
  content: "\e921";
  margin-left: -0.791015625em;
  color: rgb(167, 165, 93);
}
.pfj-headsvg .path15:before {
  content: "\e922";
  margin-left: -0.791015625em;
  color: rgb(229, 158, 27);
}
.pfj-headsvg .path16:before {
  content: "\e923";
  margin-left: -0.791015625em;
  color: rgb(43, 159, 166);
}
.pfj-headsvg .path17:before {
  content: "\e924";
  margin-left: -0.791015625em;
  color: rgb(94, 94, 93);
}
.pfj-headsvg .path18:before {
  content: "\e925";
  margin-left: -0.791015625em;
  color: rgb(0, 0, 0);
}
.pfj-personalitsvg .path1:before {
  content: "\e900";
  color: rgb(230, 230, 230);
}
.pfj-personalitsvg .path2:before {
  content: "\e901";
  margin-left: -0.7548828125em;
  color: rgb(211, 211, 211);
}
.pfj-personalitsvg .path3:before {
  content: "\e902";
  margin-left: -0.7548828125em;
  color: rgb(175, 175, 175);
}
.pfj-personalitsvg .path4:before {
  content: "\e903";
  margin-left: -0.7548828125em;
  color: rgb(142, 142, 142);
}
.pfj-personalitsvg .path5:before {
  content: "\e904";
  margin-left: -0.7548828125em;
  color: rgb(100, 100, 100);
}
.pfj-personalitsvg .path6:before {
  content: "\e905";
  margin-left: -0.7548828125em;
  color: rgb(76, 76, 76);
}
.pfj-personalitsvg .path7:before {
  content: "\e906";
  margin-left: -0.7548828125em;
  color: rgb(53, 53, 53);
}
.pfj-psychesvg .path1:before {
  content: "\e907";
  color: rgb(163, 215, 245);
}
.pfj-psychesvg .path2:before {
  content: "\e908";
  margin-left: -0.8212890625em;
  color: rgb(160, 160, 161);
}
.pfj-psychesvg .path3:before {
  content: "\e909";
  margin-left: -0.8212890625em;
  color: rgb(79, 154, 245);
}
.pfj-psychesvg .path4:before {
  content: "\e90a";
  margin-left: -0.8212890625em;
  color: rgb(52, 169, 247);
}
.pfj-psychesvg .path5:before {
  content: "\e90b";
  margin-left: -0.8212890625em;
  color: rgb(98, 97, 247);
}
.pfj-psychesvg .path6:before {
  content: "\e90c";
  margin-left: -0.8212890625em;
  color: rgb(94, 94, 95);
}
.pfj-psychesvg .path7:before {
  content: "\e90d";
  margin-left: -0.8212890625em;
  color: rgb(6, 6, 7);
}
